@{
    ViewData["Title"] = "联系方式";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    大仓方舟标识有限公司地址：
    <abbr title="Phone">电话:</abbr>
    88888888
</address>

<address>
    <strong>技术支持:</strong> <a href="mailto:Support@fzbs.com">Support@fzbs.com</a><br />
    <strong>市场营销:</strong> <a href="mailto:Marketing@fzbs.com">Marketing@fzbs.com</a>
</address>
