@{
    ViewData["Title"] = "主页";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner2.jpg" alt="ASP.NET" class="img-responsive" width="1600" height="350" />
            <div class="carousel-caption" role="option">
                <p>
                    织标
                    <a class="btn btn-default" href="http://fzlabel.cnfzflw.com/sell/index.php?typeid=2026">
                        了解更多
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.jpg" alt="Visual Studio" class="img-responsive" width="1600" height="350" />
            <div class="carousel-caption" role="option">
                <p>
                    印标
                    <a class="btn btn-default" href="http://fzlabel.cnfzflw.com/sell/index.php?typeid=2026">
                        了解更多
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.jpg" alt="Package Management" class="img-responsive" width="1600" height="350" />
            <div class="carousel-caption" role="option">
                <p>
                    印刷
                    <a class="btn btn-default" href="http://fzlabel.cnfzflw.com/sell/index.php?typeid=2026">
                        了解更多
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.jpg" alt="Microsoft Azure" class="img-responsive" width="1600" height="350" />
            <div class="carousel-caption" role="option">
                <p>
                    其它
                    <a class="btn btn-default" href="http://fzlabel.cnfzflw.com/sell/index.php?typeid=2026">
                        了解更多
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">前一页</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">后一页</span>
    </a>
</div>



<div class="container baojia clearfix">
    <ul class="row">
        <li class="bg66_1 col-md-3">
            <a href="/Quote/SinglePage">
                <h3 class="color66_3">单张自动报价</h3>
                <p>宣传页/折页/海报... </p>
            </a>
        </li>
        <li class="bg66_2 col-md-3">
            <a href="/Quote/Adhesive">
                <h3 class="color66_10">不干胶</h3>
                <p>铜板/书写/透明/...</p>
            </a>
        </li>
        <li class="bg66_3 col-md-3">
            <a href="/Quote/Book">
                <h3 class="color66_1">画册自动报价</h3>
                <p>书籍/画册/样本...</p>
            </a>
        </li>
        <li class="bg66_4 col-md-3">
            <a href="/Quote/HBook">
                <h3 class="color66_2">精装画册报价</h3>
                <p>硬壳精装/纪念画册...</p>
            </a>
        </li>
        <li class="bg66_5 col-md-3">
            <a href="/Quote/Bag">
                <h3 class="color66_4">手袋印刷报价</h3>
                <p>手提袋/包装盒...</p>
            </a>
        </li>
        <li class="bg66_6 col-md-3">
            <a href="/Quote/Envelope">
                <h3 class="color66_5">封套印刷报价</h3>
                <p>封套/卡套/信封...</p>
            </a>
        </li>
        <li class="bg66_7 col-md-3">
            <a href="/Quote/DeskCalendar">
                <h3 class="color66_6">台历自动报价</h3>
                <p>台历/周历/日历...</p>
            </a>
        </li>
        <li class="bg66_8 col-md-3">
            <a href="/Quote/WallCalendary">
                <h3 class="color66_7">挂历自动报价</h3>
                <p>挂历/月历/日历...</p>
            </a>
        </li>
        <li class="bg66_9 col-md-3">
            <a href="/Quote/Rollup">
                <h3 class="color66_8">易拉宝</h3>
                <p>铝合金易拉宝展架</p>
            </a>
        </li>

        <li class="bg66_10 col-md-3">
            <a href="/Quote/XShelf">
                <h3 class="color66_9">X展架</h3>
                <p>X展架</p>
            </a>
        </li>
        <li class="bg66_11 col-md-3">
            <a href="/Quote/Photo">
                <h3 class="color66_11">艺术微喷</h3>
                <p>专业级写真打印</p>
            </a>
        </li>
        <li class="bg66_12 col-md-3">

            <a href="/Trade/KCalendar">
                <h3 class="color66_12">传统印刷报价</h3>
                <p>传统胶印（长单）</p>
            </a>
        </li>
    </ul>


    @*<div class="row liucheng clearfix">
        <div class="liucheng_l col-md-2">下单流程</div>
        <div class="liucheng_r col-md-10">
            <ul class="row">
                <li class="col-md-3"><p>印刷自动报价</p></li>
                <li class="col-md-2"><p class="ml35">在线下单</p></li>
                <li class="col-md-2"><p class="ml555">传文件</p></li>
                <li class="col-md-3"><p class="ml70">付款印刷生产</p></li>
                <li class="col-md-2"><p class="ml80">送货签收</p></li>
            </ul>

        </div>
    </div>*@

</div>


