
@{
    ViewData["Title"] = "估价";
}

<div class="content1190 clearfix">
    <div class="content1190_left">
        <div class="tubiao"><h3>数字快印</h3></div>
        <div class="content1190_l clearfix" id="divQuoteMenu">
            <ul>
                <li id="QuoteSinglePageT"><a href="/Quote/SinglePage">单张报价</a></li>
                <li id="QuoteBook"><a href="/Quote/Book">普通画册报价</a></li>
                <li id="QuoteHBook"><a href="/Quote/HBook">精装画册报价</a></li>
                <li id="QuoteEnvelope"><a href="/Quote/Envelope">封套报价</a></li>
                <li id="QuoteBag"><a href="/Quote/Bag">手提袋报价</a></li>
                <li id="QuoteAdhesive"><a href="/Quote/Adhesive">不干胶</a></li>
                <li id="QuoteDeskCalendar"><a href="/Quote/DeskCalendar">台历报价</a></li>
                <li id="QuoteWallCalendary"><a href="/Quote/WallCalendary">挂历报价</a></li>
                <li id="QuotePhoto"><a href="/Quote/Photo">写真报价</a></li>
                <li id="QuoteXShelf"><a href="/Quote/XShelf">X型展架报价</a></li>
                <li id="QuoteRollup"><a href="/Quote/Rollup">易拉宝报价</a></li>
            </ul>
        </div>
    </div>

    <form id="formProduct">
        <div class="content1190_m  clearfix">
            <div class="title clearfix">
                <span></span>
                <h3>精装画册</h3>
            </div>
            <div class="basic-parameter clearfix">
                <h3>基本参数</h3>
                <div>
                    <table class="table_frame">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>成品尺寸：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="cpcc" name="cpcc" data-val="true" data-val-required="不能为空">
                                                        <option value="" selected="selected">请选择</option>
                                                        <option value="大8开(285*420)">大8开(420*285)</option>
                                                        <option value="大12开(285*285)">大12开(285*285)</option>
                                                        <option value="A4(210*297)">A4(210*297)</option>
                                                        <option value="大16开(210*285)">大16开(210*285)</option>
                                                        <option value="大32开(140*210)">大32开(140*210)</option>
                                                        <option value="正8开(260*366)">正8开(260*366)</option>
                                                        <option value="正12开(240*240)">正12开(240*240)</option>
                                                        <option value="正16开(185*260)">正16开(185*260)</option>
                                                        <option value="正32开(125*185)">正32开(125*185)</option>

                                                        <option value="A4(297*210)横开本">A4(210*297)横开本</option>
                                                        <option value="大16开(285*210)横开本">大16开(210*285)横开本</option>
                                                        <option value="大32开(210*140)横开本">大32开(140*210)横开本</option>
                                                        <option value="正8开(366*260)横开本">正8开(260*366)横开本</option>
                                                        <option value="正16开(260*185)横开本">正16开(185*260)横开本</option>
                                                        <option value="正32开(185*125)横开本">正32开(125*185)横开本</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>印刷数量：</th>
                                                <td>
                                                    <div class="btn_add" title="缩小此属性" style="float:left;"><span onclick="AddNum(1)" style="margin-top:0px; margin-left:0px;">-</span></div>
                                                    <input class="input330" style="width:120px;float:left;margin-top:4px;" data-val="true" data-val-required="不能为空" id="PrintNumber" name="PrintNumber" value="10" aria-required="true" aria-invalid="false" aria-describedby="PrintNumber-error" type="text" />
                                                    <div class="btn_add" title="扩大此属性" style="float:left;"><span onclick="AddNum(2)" style="margin-top:0px;">+</span></div>
                                                    <span class="field-validation-valid" data-valmsg-for="PrintNumber" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>装订方式：</th>
                                                <td>
                                                    <div style="float:left;margin-right:6px;"><span style="margin-top:0px;color:red;">硬壳精装</span></div>
                                                    <select style="width:120px; margin-right:5px;height:26px;" id="zdfs" name="zdfs">
                                                        <option value="" selected="selected">不装订</option>
                                                        <option value="普通胶装">普通胶装</option>
                                                        <option value="锁线胶装">锁线胶装</option>
                                                        <option value="pur胶装">pur胶装</option>
                                                        <option value="蝴蝶装">蝴蝶装</option>
                                                        <option value="蝴蝶装(加pvc)">蝴蝶装(加pvc)</option>
                                                        <option value="活页精装">活页精装</option>
                                                        <option value="铆钉精装">铆钉精装</option>
                                                        <option value="铁圈精装">铁圈精装</option>

                                                    </select>
                                                    <select style="width:120px; margin-right:5px;height:26px;" id="zdzb" name="zdzb">
                                                        <option value="2.0mm厚纸版">2.0mm厚纸版</option>
                                                        <option value="2.5mm厚纸版">2.5mm厚纸版</option>
                                                        <option value="3.0mm厚纸版">3.0mm厚纸版</option>
                                                        <option value="2.5mm密度版">2.5mm密度版</option>
                                                        <option value="3.0mm密度版">3.0mm密度版</option>
                                                    </select>
                                                    <select style="width:120px; margin-right:5px;height:26px;" id="zddts" name="zddts">
                                                        <option value="堵头布(白色)">堵头布(白色)</option>
                                                        <option value="堵头布(红白相间)">堵头布(红白相间)</option>
                                                        <option value="堵头布(蓝白相间)">堵头布(蓝白相间)</option>
                                                    </select>
                                                    <select style="width:120px; margin-right:5px;height:26px;" id="sqd" name="sqd">
                                                        <option value="不要书签带">不要书签带</option>
                                                        <option value="红色书签带">红色书签带</option>
                                                        <option value="蓝色书签带">蓝色书签带</option>
                                                        <option value="红色书签带">红色书签带</option>
                                                    </select>
                                                    <select style="width:120px; margin-right:5px;height:26px;" id="zdjz" name="zdjz" disabled="disabled">
                                                        <option value="两孔夹">两孔夹</option>
                                                        <option value="三孔夹">三孔夹</option>
                                                        <option value="四孔夹">四孔夹</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="basic-parameter clearfix">
                <h3>封面设置</h3>
                <div>
                    <table class="table_frame">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>自带纸：</th>
                                                <td><input data-val="true" data-val-required="is_fmzdz 字段是必需的。" id="is_fmzdz" name="is_fmzdz" type="checkbox" value="true" /><input name="is_fmzdz" type="hidden" value="false" /> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content" id="divFmPaper">
                                        <tbody>
                                            <tr>
                                                <th>封面纸张：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmzz" name="fmzz" data-val="true" data-val-required="不能为空" onclick="GetWeight('封面纸张')">
                                                        <option value="" selected="selected">请选择</option>
                                                    </select>
                                                    <select style="width:100px; margin-right:5px;height:26px;" id="fmkz" name="fmkz" data-val="true" data-val-required="不能为空">
                                                        <option value="" selected="selected">请选择</option>
                                                    </select><span class="field-validation-valid" data-valmsg-for="fmkz" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>封面颜色：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmcolor" name="fmcolor" data-val="true" data-val-required="不能为空">
                                                        <option value="1">单色</option>
                                                        <option value="4" selected="selected">彩色</option>
                                                    </select><span class="field-validation-valid" data-valmsg-for="fmcolor" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>封面覆膜：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmfm" name="fmfm">
                                                        <option value="">不覆膜</option>
                                                        <option value="单面光膜">单面光膜</option>
                                                        <option value="单面哑膜">单面哑膜</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                            </tr>
                            <tr style="display:none;">
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>封面单双面：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmface" name="fmface" data-val="true" data-val-required="不能为空">
                                                        <option value="1" selected="selected">单面</option>

                                                    </select><span class="field-validation-valid" data-valmsg-for="fmface" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>封面P数：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmps" name="fmps" data-val="true" data-val-required="不能为空">
                                                        <option value="4">4P</option>
                                                    </select><span class="field-validation-valid" data-valmsg-for="fmps" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="display:none;">
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>特殊封面设置：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="seltsfmsz" name="seltsfmsz">
                                                        <option value="">请选择</option>
                                                        <option value="1">增加勒口</option>
                                                        <option value="2">增加拉页</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content" id="divlk" style="display:none;">
                                        <tbody>
                                            <tr>
                                                <th>勒口：</th>
                                                <td>
                                                    <input id="islk" name="islk" type="checkbox" value="true" style="height: 24px; width: 24px;float:left;">
                                                    <div id="lkcd" style="display:none;float:left;">
                                                        <input class="textclass_w60" style="width:60px;float:left" id="fmlk" name="fmlk" type="text" value="80" placeholder="封面勒口" />
                                                        <div style="float:left;margin-top:-1px;margin-left:5px;margin-right:5px;"><span style="margin-top:0px;">mm</span></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table_content" id="divly" style="display:none;">
                                        <tbody>
                                            <tr>
                                                <th>拉页P数：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmlyps" name="fmlyps">
                                                        <option value="0">请选择</option>
                                                        <option value="2">2P</option>
                                                        <option value="2">4P</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>封面工艺：</th>
                                                <td>
                                                    <table class="table_content" cellspacing="0" cellpadding="0" border="0" id="divmp">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <label class="label616"><input class="sel613" data-val="true" data-val-required="fmyxmq 字段是必需的。" id="fmyxmq" name="fmyxmq" type="checkbox" value="true" /><input name="fmyxmq" type="hidden" value="false" />异形模切</label>
                                                                </td>
                                                                <td><label class="label616"><input class="sel613" data-val="true" data-val-required="fmhdbwj 字段是必需的。" id="fmhdbwj" name="fmhdbwj" type="checkbox" value="true" /><input name="fmhdbwj" type="hidden" value="false" /> 画刀版文件</label></td>
                                                                <td>
                                                                    <label class="label616"><input class="sel613" data-val="true" data-val-required="fmyw 字段是必需的。" id="fmyw" name="fmyw" type="checkbox" value="true" /><input name="fmyw" type="hidden" value="false" /> 压纹</label>
                                                                </td>
                                                                <td><label class="label616"><input class="sel613" data-val="true" data-val-required="fmdmuv 字段是必需的。" id="fmdmuv" name="fmdmuv" type="checkbox" value="true" /><input name="fmdmuv" type="hidden" value="false" /> 单面局部UV</label> </td>
                                                                <td><label class="label616"><input class="sel613" data-val="true" data-val-required="fmsmuv 字段是必需的。" id="fmsmuv" name="fmsmuv" type="checkbox" value="true" /><input name="fmsmuv" type="hidden" value="false" />双面局部UV</label></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <label class="label616"><input class="sel613" data-val="true" data-val-required="fmty 字段是必需的。" id="fmty" name="fmty" type="checkbox" value="true" /><input name="fmty" type="hidden" value="false" />烫印</label>
                                                                    <div id="divfmty" style="width: 250px; display:none;">
                                                                        <select name="fmtyfs" class="shortselectclass valid" style="width:70px;height:26px; float:left" aria-invalid="false">
                                                                            <option>烫黄金</option>
                                                                            <option>烫银</option>
                                                                            <option>烫黑金</option>
                                                                            <option>烫红金</option>
                                                                            <option>烫蓝金</option>
                                                                            <option>烫镭射金</option>
                                                                            <option>烫其他金</option>
                                                                        </select>
                                                                        <input class="textclass_w60" style="width:25px; float:left" name="fmty_width" type="text" value="" />
                                                                        <div style="float:left;">
                                                                            <span style="margin-top:0px;">×</span>
                                                                        </div>
                                                                        <input class="textclass_w60" style="width:25px;float:left" name="fmty_height" type="text" value="" />
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;">mm</span>
                                                                        </div>
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;color:red;" onclick="AddTY()">[新增]</span>
                                                                        </div>
                                                                    </div>
                                                                    <div id="divMorety">

                                                                    </div>
                                                                </td>
                                                                <td colspan="2">
                                                                    <label class="label616">
                                                                        <input class="sel613" data-val="true" data-val-required="fmjt 字段是必需的。" id="fmjt" name="fmjt" type="checkbox" value="true" /><input name="fmjt" type="hidden" value="false" />击凸
                                                                    </label>
                                                                    <div id="divfmjt" style="display:none;width:250px;">
                                                                        <input class="textclass_w60" style="width:40px;float:left" name="fmjt_width" type="text" value="" />
                                                                        <div style="float:left;">
                                                                            <span style="margin-top:0px;">×</span>
                                                                        </div>
                                                                        <input class="textclass_w60" style="width:40px;float:left" name="fmjt_height" type="text" value="" />
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;">mm</span>
                                                                        </div>
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;color:red;" onclick="AddJT()">[新增]</span>
                                                                        </div>
                                                                    </div>
                                                                    <div id="divMorejt">

                                                                    </div>
                                                                </td>
                                                                <td colspan="2">
                                                                    <label class="label616">
                                                                        <input class="sel613" data-val="true" data-val-required="fmat 字段是必需的。" id="fmat" name="fmat" type="checkbox" value="true" /><input name="fmat" type="hidden" value="false" />凹凸
                                                                    </label>
                                                                    <div id="divfmat" style="display:none;width:250px;">
                                                                        <input class="textclass_w60" style="width:40px;float:left" name="fmat_width" type="text" value="" />
                                                                        <div style="float:left;">
                                                                            <span style="margin-top:0px;">×</span>
                                                                        </div>
                                                                        <input class="textclass_w60" style="width:40px;float:left" name="fmat_height" type="text" value="" />
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;">mm</span>
                                                                        </div>
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;color:red;" onclick="AddAT()">[新增]</span>
                                                                        </div>
                                                                    </div>
                                                                    <div id="divMoreat">

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                            </tr>
                            <tr class="drHcz">
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>自带环衬纸：</th>
                                                <td><input data-val="true" data-val-required="is_fmzdhcz 字段是必需的。" id="is_fmzdhcz" name="is_fmzdhcz" type="checkbox" value="true" /><input name="is_fmzdhcz" type="hidden" value="false" /> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content" id="divFmHcz">
                                        <tbody>
                                            <tr>
                                                <th>环衬纸张：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmhczz" name="fmhczz" data-val="true" data-val-required="不能为空" onclick="GetWeight('环衬纸张')">
                                                        <option value="" selected="selected">请选择</option>
                                                    </select>
                                                    <select style="width:100px; margin-right:5px;height:26px;" id="fmhckz" name="fmhckz" data-val="true" data-val-required="不能为空">
                                                        <option value="" selected="selected">请选择</option>
                                                    </select><span class="field-validation-valid" data-valmsg-for="fmhckz" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr class="drHcz">
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>前环衬颜色：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmqhccolor" name="fmqhccolor" data-val="true" data-val-required="不能为空">
                                                        <option value="1">单色</option>
                                                        <option value="4" selected="selected">彩色</option>
                                                    </select><span class="field-validation-valid" data-valmsg-for="fmqhccolor" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>前环衬单双面：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmqhcface" name="fmqhcface" data-val="true" data-val-required="不能为空">
                                                        <option value="0">不印刷</option>
                                                        <option value="1">单面</option>
                                                        <option value="2" selected="selected">双面</option>
                                                    </select><span class="field-validation-valid" data-valmsg-for="fmqhcface" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr class="drHcz">
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>后环衬颜色：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmhhccolor" name="fmhhccolor" data-val="true" data-val-required="不能为空">
                                                        <option value="1">单色</option>
                                                        <option value="4" selected="selected">彩色</option>
                                                    </select><span class="field-validation-valid" data-valmsg-for="fmhhccolor" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>后环衬单双面：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="fmhhcface" name="fmhhcface">
                                                        <option value="0">不印刷</option>
                                                        <option value="1">单面</option>
                                                        <option value="2" selected="selected">双面</option>
                                                    </select><span class="field-validation-valid" data-valmsg-for="fmhhcface" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="basic-parameter clearfix">
                <h3>内页设置<a href="#" onclick="AddCY()" class="blue64" id="aCY">增加插页</a><a href="#" onclick="AddIn()" class="blue64" id="aLY" style="margin-left:10px;">增加拉页</a></h3>
                <div>
                    <table class="table_frame">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>自带纸：</th>
                                                <td><input data-val="true" data-val-required="is_nyzdz 字段是必需的。" id="is_nyzdz" name="is_nyzdz" type="checkbox" value="true" /><input name="is_nyzdz" type="hidden" value="false" /> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content" id="divNyPaper">
                                        <tbody>
                                            <tr>
                                                <th>内页纸张：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="nyzz" name="nyzz" data-val="true" data-val-required="不能为空" onclick="GetWeight('内页纸张')">
                                                        <option value="" selected="selected">请选择</option>
                                                    </select>
                                                    <select style="width:100px; margin-right:5px;height:26px;" id="nykz" name="nykz" data-val="true" data-val-required="不能为空">
                                                        <option value="" selected="selected">请选择</option>
                                                    </select>
                                                    <span class="field-validation-valid" data-valmsg-for="nykz" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>内页颜色：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="nycolor" name="nycolor" data-val="true" data-val-required="不能为空">
                                                        <option value="1">单色</option>
                                                        <option value="4" selected="selected">彩色</option>
                                                    </select><span class="field-validation-valid" data-valmsg-for="nycolor" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr id="trnyp">
                                                <th>内页P数：</th>
                                                <td>
                                                    <div class="btn_add" title="缩小此属性" style="float:left;"><span onclick="AddNypsNum(1)" style="margin-top:0px; margin-left:0px;">-</span></div>
                                                    <input class="input330" style="width:40px;float:left;margin-top:4px;" onchange="ChangeNyps()" onkeyup="checkKeyup(this)" data-val-number="必须是数字" data-val="true" data-val-required="不能为空" id="nyps" name="nyps" value="4" type="text" />
                                                    <div style="float:left;margin-left:2px;"><span style="margin-top:0px;line-height:20px;">P</span></div>
                                                    <div class="btn_add" title="扩大此属性" style="float:left;"><span onclick="AddNypsNum(2)" style="margin-top:0px;">+</span></div>
                                                    <span class="field-validation-valid" data-valmsg-for="nyps" data-valmsg-replace="true"></span>
                                                    <span class="field-validation-valid" data-valmsg-for="nyps" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                            <tr id="trnyky" style="display:none;">
                                                <th>内页跨页：</th>
                                                <td>
                                                    <div class="btn_add" title="缩小此属性" style="float:left;"><span onclick="AddKYNum(1)" style="margin-top:0px; margin-left:0px;">-</span></div>
                                                    <input class="input330" style="width:120px;float:left;margin-top:4px;" data-val="true" data-val-required="不能为空" id="nyky" name="nyky" value="1" aria-required="true" aria-invalid="false" aria-describedby="nyky-error" type="text" />
                                                    <div class="btn_add" title="扩大此属性" style="float:left;"><span onclick="AddKYNum(2)" style="margin-top:0px;">+</span></div>
                                                    <span class="field-validation-valid" data-valmsg-for="nyky" data-valmsg-replace="true"></span>
                                                    <span class="field-validation-valid" data-valmsg-for="nyky" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>内页单双面：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="nyface" name="nyface" data-val="true" data-val-required="不能为空">
                                                        <option value="1">单面</option>
                                                        <option value="2" selected="selected">双面</option>
                                                    </select><span class="field-validation-valid" data-valmsg-for="nyface" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>内页覆膜：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="nyfm" name="nyfm">
                                                        <option value="">不覆膜</option>
                                                        <option value="单面光膜">单面光膜</option>
                                                        <option value="单面哑膜">单面哑膜</option>
                                                        <option value="双面光膜">双面光膜</option>
                                                        <option value="双面哑膜">双面哑膜</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>是否加硫酸纸：</th>
                                                <td>
                                                    <div style="float:left;">
                                                        <input data-val="true" data-val-required="is_lsz 字段是必需的。" id="is_lsz" name="is_lsz" type="checkbox" value="true" /><input name="is_lsz" type="hidden" value="false" />
                                                    </div>
                                                    <div id="divYS" style="float:left;margin-left:35px;display:none;">
                                                        <label for="is_ys">是否印刷</label>
                                                        <input data-val="true" data-val-required="is_ys 字段是必需的。" id="is_ys" name="is_ys" type="checkbox" value="true" /><input name="is_ys" type="hidden" value="false" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>硫酸纸颜色：</th>
                                                <td>
                                                    <select style="width:150px; margin-right:5px;height:26px;" id="lszcolor" name="lszcolor">
                                                        <option value="1">单色</option>
                                                        <option value="4">彩色</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="table_content">
                                        <tbody>
                                            <tr>
                                                <th>内页工艺：</th>
                                                <td>
                                                    <table class="table_content" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <label class="label616"><input class="sel613" data-val="true" data-val-required="nyyxmq 字段是必需的。" id="nyyxmq" name="nyyxmq" type="checkbox" value="true" /><input name="nyyxmq" type="hidden" value="false" />异形模切</label>
                                                                </td>
                                                                <td><label class="label616"><input class="sel613" data-val="true" data-val-required="nyhdbwj 字段是必需的。" id="nyhdbwj" name="nyhdbwj" type="checkbox" value="true" /><input name="nyhdbwj" type="hidden" value="false" /> 画刀版文件</label></td>
                                                                <td>
                                                                    <label class="label616"><input class="sel613" data-val="true" data-val-required="nyyw 字段是必需的。" id="nyyw" name="nyyw" type="checkbox" value="true" /><input name="nyyw" type="hidden" value="false" /> 压纹</label>
                                                                </td>
                                                                <td><label class="label616"><input class="sel613" data-val="true" data-val-required="nydmuv 字段是必需的。" id="nydmuv" name="nydmuv" type="checkbox" value="true" /><input name="nydmuv" type="hidden" value="false" /> 单面局部UV</label></td>
                                                                <td><label class="label616"><input class="sel613" data-val="true" data-val-required="nysmuv 字段是必需的。" id="nysmuv" name="nysmuv" type="checkbox" value="true" /><input name="nysmuv" type="hidden" value="false" /> 双面局部UV</label></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <label class="label616"><input class="sel613" data-val="true" data-val-required="nyty 字段是必需的。" id="nyty" name="nyty" type="checkbox" value="true" /><input name="nyty" type="hidden" value="false" />烫印</label>
                                                                    <div id="divnyty" style="width: 250px; display:none;">
                                                                        <select name="nyfmtyfs" class="shortselectclass valid" style="width:70px;height:26px; float:left" aria-invalid="false">
                                                                            <option>烫黄金</option>
                                                                            <option>烫银</option>
                                                                            <option>烫黑金</option>
                                                                            <option>烫红金</option>
                                                                            <option>烫蓝金</option>
                                                                            <option>烫镭射金</option>
                                                                            <option>烫其他金</option>
                                                                        </select>
                                                                        <input class="textclass_w60" style="width:25px; float:left" name="nyty_width" type="text" value="" />
                                                                        <div style="float:left;">
                                                                            <span style="margin-top:0px;">×</span>
                                                                        </div>
                                                                        <input class="textclass_w60" style="width:25px;float:left" name="nyty_height" type="text" value="" />
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;">mm</span>
                                                                        </div>
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;color:red;" onclick="AddNyTY()">[新增]</span>
                                                                        </div>
                                                                    </div>
                                                                    <div id="divMoreNyty">

                                                                    </div>
                                                                </td>
                                                                <td colspan="2">
                                                                    <label class="label616">
                                                                        <input class="sel613" data-val="true" data-val-required="nyjt 字段是必需的。" id="nyjt" name="nyjt" type="checkbox" value="true" /><input name="nyjt" type="hidden" value="false" />击凸
                                                                    </label>
                                                                    <div id="divnyjt" style="display:none;width:250px;">
                                                                        <input class="textclass_w60" style="width:40px;float:left" name="nyjt_width" type="text" value="" />
                                                                        <div style="float:left;">
                                                                            <span style="margin-top:0px;">×</span>
                                                                        </div>
                                                                        <input class="textclass_w60" style="width:40px;float:left" name="nyjt_height" type="text" value="" />
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;">mm</span>
                                                                        </div>
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;color:red;" onclick="AddNyJT()">[新增]</span>
                                                                        </div>
                                                                    </div>
                                                                    <div id="divMoreNyjt">

                                                                    </div>
                                                                </td>
                                                                <td colspan="2">
                                                                    <label class="label616">
                                                                        <input class="sel613" data-val="true" data-val-required="nyat 字段是必需的。" id="nyat" name="nyat" type="checkbox" value="true" /><input name="nyat" type="hidden" value="false" />凹凸
                                                                    </label>
                                                                    <div id="divnyat" style="display:none;width:250px;">
                                                                        <input class="textclass_w60" style="width:40px;float:left" name="nyat_width" type="text" value="" />
                                                                        <div style="float:left;">
                                                                            <span style="margin-top:0px;">×</span>
                                                                        </div>
                                                                        <input class="textclass_w60" style="width:40px;float:left" name="nyat_height" type="text" value="" />
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;">mm</span>
                                                                        </div>
                                                                        <div style="float:left;margin-left:3px;">
                                                                            <span style="margin-top:0px;color:red;" onclick="AddNyAT()">[新增]</span>
                                                                        </div>
                                                                    </div>
                                                                    <div id="divMoreNyat">

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="divMorecy" style=" clear:both;">
            </div>
            <div id="divMorely" style=" clear:both;">
            </div>

            <div class="b_tijiao">
                <input type="button" id="btnSubmit" onclick="PopulateAddModal()" value="立即报价" class="m-btn-submitb"  data-toggle="modal" data-target="#myModal"/>
            </div>

        </div>
    </form>

    <div id="priceresulte" style="display: none; width: 600px;">
        <div id="loading">
            报价中。。。
            <img src="/images/loading.gif" />
        </div>
    </div>

    <div class="fudong">
        <div class="tel">
            <p>服务电话</p>

            <div class="fudong2"><span>025-87771717</span></div>
        </div>
        <div class="qq">
            <p>企业qq</p>
        </div>
        <div class="mail">
            <p>二维码</p><div class="wx66"></div>
        </div>


    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">数码报价</h4>
            </div>
            <div class="modal-body">
                <p>报价， 建设中.</p>
            </div>

        </div>

    </div>
</div>