

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 方舟数码</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/quote.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/quote.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/css/basket/basket.component.css" />
    <link rel="stylesheet" href="~/css/basket/basket-status/basket-status.component.css" />
</head>
<body>

    <nav class="fz-navbar navbar navbar-inverse navbar-fixed-top">
        <div class="bar-login row" style="">
            <div class="col-md-6 text-left">  <span>欢迎来到方舟标识！</span><span>免费服务电话：</span><span><font class="cheng66"> 0512-88888888</font> </span></div>
            <div class="col-md-6 text-right"> @await Html.PartialAsync("_LoginPartial")</div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <div><img src="~/images/FZBS_Logo.jpg" /> <span class="logo-title">方舟标识 </span></div>
                </a>

            </div>
            <div class="fz-menu-navbar navbar-collapse collapse  ">
                <ul class="nav navbar-nav  nav-menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">主页</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">关于</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">联系</a></li>
                    <li><a href="/Quote/SinglePage" id="QuoteSinglePage">数码报价</a></li>
                    <li><a href="/Trade/KCalendar" id="TradeKCalendar">传统报价</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="esh-identity-item"
                               asp-controller="Order"
                               asp-action="Index">
                                订单管理
                            </a>

                        </li>
                        <li>
                            <a class="esh-identity-item"
                               asp-controller="Manage"
                               asp-action="Index">
                               帐户管理
                            </a>

                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()

    </div>
    <hr />
    <footer class="text-center">
        <ul class="foot1 row">
            <li class="col-md-4"><img src="/images/index_30.png" width="57" height="60" /><h3>商务印刷&nbsp;&nbsp;引导品牌</h3></li>
            <li class="col-md-4"><img src="/images/index_32.png" width="90" height="60" /><h3>本地印刷 极速送达</h3></li>
            <li class="col-md-4"><img src="/images/index_35.png" width="67" height="60" /><h3>本地印刷 极速送达</h3></li>
        </ul>
        <ul class="row foot2 foot739">
            <li class="col-md-2">

                <img src="/images/fzbs-logo.png" width="191" height="60" />
                <h4>0512-88888888</h4>
                <p>客服9点-24点</p>
            </li>

            <li class="col-md-2">
                <h3><a href="javascript:void(0)"> 操作指南	</a></h3>
                <p>
                    <a href="/help?key=help-operate-vip" target="_blank">会员级别</a>
                </p>
                <p>
                    <a href="/help?key=help-operate-order" target="_blank">下单流程</a>
                </p>
                <p>
                    <a href="/help?key=help-operate-know" target="_blank">完稿须知</a>
                </p>
                <p>
                    <a href="/help?key=help-operate-ticket" target="_blank">开票须知</a>
                </p>

            </li>
            <li class="col-md-2">
                <h3><a href="javascript:void(0)"> 支付方式</a></h3>
                <p>
                    <a href="/help?key=help-pay-zfb" target="_blank">支付宝支付</a>
                </p>
                <p>
                    <a href="/help?key=help-pay-yhzz" target="_blank">银行转账</a>
                </p>

            </li>
            <li class="col-md-2">
                <h3><a href="javascript:void(0)"> 配送方式	</a></h3>
                <p>
                    <a href="/help?key=help-delivery-shsm" target="_blank">送货上门</a>
                </p>
                <p>
                    <a href="/help?key=help-delivery-yyzt" target="_blank">预约自提</a>
                </p>

            </li>
            <li class="col-md-2">
                <h3><a href="javascript:void(0)"> 售后服务</a></h3>
                <p>
                    <a href="/help?key=help-service-fpwd" target="_blank">找回密码</a>
                </p>
                <p>
                    <a href="/help?key=help-service-thyz" target="_blank">退货原则</a>
                </p>

            </li>
            <li class="col-md-2">
                <h3><a href="javascript:void(0)"> 关于我们	</a></h3>
                <p>
                    <a href="/help?key=help-about-info" target="_blank">斯马特简介</a>
                </p>
                <p>
                    <a href="/help?key=help-about-contact-u" target="_blank">联系我们</a>
                </p>
                <p>
                    <a href="/help?key=help-about-develop" target="_blank">发展历程</a>
                </p>

            </li>
        </ul>

        <p class="row">
            <div class="col-md-12 text-center">
                Copyright ©2018 方舟数码® www.fzbs.cn <a href="http://www.fzbs.cn/" target="_blank">
                </a>
                <a href="javascript:;" target="_blank">苏ICP备0000000号</a>
            </div>
        </p>
        <p class="row">
            <div class="col-md-12 text-center">
                大仓方舟标识有限公司
                <span>电子信箱：<a href="mailto:fzbs@vip.163.com" target="_blank">fzbs@vip.163.com</a></span>
                <script type="text/javascript">var cnzz_protocol = (("https:" === document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1262220485'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1262220485%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
        </p>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog  modal-800">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">数码报价</h4>
                </div>
                <div class="modal-body">

                </div>

            </div>

        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/quote.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/quote.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
