@using Microsoft.AspNetCore.Identity
@using  FangZhouShuMa.Infrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <section>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <ul class="account-bar list-inline">

                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">你好 @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">退出</button>
                </li>
            </ul>
        </form>
    </section>
    <section>
        @await Component.InvokeAsync("Basket", new { userName = User.Identity.Name })
    </section>
}
else
{

    <section>
        <ul class="account-bar list-inline">
            <li> @await Component.InvokeAsync("Basket", new { userName = "" })</li>
            <li><a asp-area="" asp-controller="Account" asp-action="Register">注册</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">登录</a></li>
        </ul>
    </section>

}
